{% extends 'layouts/base.html.twig' %}

{% block title %}Create{% endblock %}

{% block body %}

<div class="container">
	{{ form_start(form) }}
		{{ form_widget(form) }}
		<input type="submit" value="Publier" formnovalidate>
	{{ form_end(form) }}
</div>

{% endblock %}	